<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.userservicetest.domain.DAO.UserDAO">

    <resultMap id="UserBaseResultMap" type="com.test.userservicetest.domain.entity.UserBase">
        <id column="user_id" property="userId" javaType="int" jdbcType="INTEGER"/>
        <result column="user_number" property="userNumber" javaType="int" jdbcType="INTEGER"/>
        <result column="email" property="email" javaType="String" jdbcType="VARCHAR"/>
        <result column="cellphone" property="cellphone" javaType="long" jdbcType="BIGINT"/>
        <result column="password" property="password" javaType="String" jdbcType="VARCHAR"/>
        <result column="real_password" property="realPassword" javaType="String" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" javaType="String" jdbcType="VARCHAR"/>
        <result column="login_permission" property="loginPermission" javaType="int" jdbcType="INTEGER"/>
        <result column="user_create_time" property="userCreateTime" javaType="java.util.Date" jdbcType="DATE"/>
        <result column="user_update_time" property="userUpdateTime" javaType="java.util.Date" jdbcType="DATE"/>
        <result column="user_login_time" property="userLoginTime" javaType="java.util.Date" jdbcType="DATE"/>
    </resultMap>

    <sql id="UserBase_Columns">
        user_id, user_number, email, cellphone, password, real_password, nickname, login_permission,
        user_create_time, user_update_time, user_login_time
    </sql>


    <select id="selectUserByUserId" resultMap="UserBaseResultMap" parameterType="int">
        SELECT
          <include refid="UserBase_Columns"/>
        FROM
          user_base
        WHERE
          user_id = #{userId}
    </select>


    <select id="selectUserByUserNumber" resultMap="UserBaseResultMap" parameterType="int">
        SELECT
          <include refid="UserBase_Columns"/>
        FROM
          user_base
        WHERE
          user_number = #{userNumber}
    </select>


    <select id="selectUserByNickname" resultMap="UserBaseResultMap" parameterType="java.lang.String">
        SELECT
          <include refid="UserBase_Columns"/>
        FROM
          user_base
        WHERE
          nickname = #{nickname}
    </select>


    <select id="selectUserByEmail" resultMap="UserBaseResultMap" parameterType="java.lang.String">
        SELECT
          <include refid="UserBase_Columns"/>
        FROM
          user_base
        WHERE
          email = #{email}
    </select>


    <select id="selectUserByCellphone" resultMap="UserBaseResultMap" parameterType="long">
        SELECT
          <include refid="UserBase_Columns"/>
        FROM
          user_base
        WHERE
          cellphone = #{cellphone}
    </select>



    <insert id="insertUser" parameterType="com.test.userservicetest.domain.entity.UserBase">
        INSERT
        INTO
          user_base
          (user_number, email, cellphone, password, real_password, nickname, login_permission,
          user_create_time, user_update_time)
        VALUES
          (#{userNumber}, #{email}, #{cellphone}, #{password}, #{realPassword}, #{nickname}, #{loginPermission},
          #{userCreateTime}, #{userUpdateTime})
    </insert>


</mapper>